/*Navbar*/
nav{
    background-color: black;
}
.nav-link{
    font-size: 1rem;
    font-family: "Montserrat-light";
  }
  
  .navbar-nav{
    /* margin-left: 73%; */
    flex: content;
    justify-content: right;

  }

/*CAROUSEL*/
 .c-img{
    width: 100%;
    height: 400px;
    opacity: 85%;   
 }
 h2{
    font-family: 'Montserrat-bold', sans-serif;
    font-size: 3rem;
    line-height: 1.5;
 }
p{
    color: white;
}
.h2car{
    color: white;
    font-family: 'Croissant One', cursive;
}
 .carousel-item{
  padding: 1% 0 0 0 ;
 }

/*OURSERVICES*/
#OurServices{
    background-color: white;
    padding: 3% 7%;
    text-align: center;
    line-height: 1.5;
    color: #353a41;
    font-family: 'Croissant One', cursive;
    font-size: 2.5rem;
}
.icon{
    line-height: 1.5;
}
.para{
    color: #BFBFBF;
    line-height: 1.5;
    font-family: "Montserrat-light";
    font-size: 1rem;
}

/* BOOKINGS*/
#Bookings{
    padding: 50px;
    background-color: #393E46;
}

.h2Book{
    font-family: 'Croissant One', cursive;
    font-size: 3rem;
    text-align: center;
    color: white;
}
.para2{
    color: #BFBFBF;
    font-family: "Montserrat-light";
    font-size: 1rem;
    text-align: center;
}

.h3Book{
    font-family:'Montserrat-light', sans-serif;
    font-size: 1.5rem;
    text-align: center;
}
.hBook{
    font-family: 'Croissant One', cursive;
    font-size: 1.5rem;
    text-align: center;
}
.cardSize{
    padding: 2% 5%;
}
.btn:hover{
    color: #8CC0DE;
}

.f-radio{
    padding-left: 20px;
}
/*MODAL*/
.modalSize{
    margin-top: 5%;
}
/*FOOTER*/
#ContactPage{
    background-color: white;
    text-align: center;
}
.icon{
    color: black;
    padding: 0 1%;
    line-height: 3;
    margin-top: 2%;
}
.CR{
    color: #BFBFBF;
    font-family:  "Merriweather";
    font-size: 0.7rem;
    line-height: 2;
}

/* VALIDATION STYLES */
.ico1{
    color: #98EECC;
    position: absolute;
    top: 45px;
    right: 25px;
    visibility: hidden;
}
.ico2{
    color: #FA9884;
    position: absolute;
    top: 45px;
    right: 25px;
    visibility: hidden;
}
small{
    position: absolute;
    bottom: 0;
    left: 15px;
    visibility: hidden;
    color: #FA9884;
    font-size: 1rem;
    padding-top: 20px !important;
    font-family: 'Merriweather';
    line-height: 1.5;
}

.form-control:focus{
    border-color:  black !important;
    box-shadow: 0 0 0 rgb(0, 0, 0) !important;
  }
  

.form-group.success input{
    border-color: #98EECC;
    box-shadow: 0 0 10px rgb(120, 230, 148) !important;
}
.form-group.error input{
    border-color: #FA9884;
    box-shadow: 0px 0 5px rgb(216, 124, 112) !important;
}
.form-group.success i.fa-check.ico1{
    visibility: visible;

}
.form-group.error i.fa-xmark.fa-shake.ico2{
    visibility: visible;
}
.form-group.error small{
    visibility: visible;
}
/* .form-group.success .h5{
    visibility: visible;
} 
.h5{
    background-color:  #98EECC;
    color: white !important;
    font-family: "Montserrat-light";
    visibility: hidden;
}

.h5 i.fa-check.ico1{
    visibility: visible;
}*/
.modal-body .ico3{
    display: flex;
    justify-content: center;
    color: #98EECC;
    font-size: 3rem;
}
.modal-body h2{
    text-align: center;
    font-size: 1rem;
    font-family: 'Croissant One', cursive;
    color: #393E46;
    line-height: 1.5;
}
.modal-body p{
    text-align: center;
    font-size: 1rem;
    font-family: 'Croissant One', cursive;
    color: #393E46;
    line-height: 1.5;
}
.popup{
    margin-top: 12%;
    visibility: hidden;
}
.view-slide{
    visibility: visible;
}